<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div *ngIf="!poStatus" class="text-4xl font-extrabold tracking-tight">All Purchase Orders</div>
        <div *ngIf="poStatus" class="text-4xl font-extrabold tracking-tight">{{poStatus}} Purchase Orders</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    (keyup)="applyFilter($event.target.value)"
                    [placeholder]="'Search clients'">
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createPurchaseOrders()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
                <mat-cell *matCellDef="let purchaseOrder"> {{purchaseOrder.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="poNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header> PO Number</mat-header-cell>
                <mat-cell *matCellDef="let purchaseOrder"><a
                    routerLink="details/{{purchaseOrder.id}}" class="hover:text-primary">{{purchaseOrder.poNumber}}</a>
                </mat-cell>
                    routerLink="details/{{purchaseOrder.id}}" class="hover:text-primary"
                    [matTooltip]="getItemsSummaryForPO(purchaseOrder)" matTooltipPosition="right">{{purchaseOrder.poNumber}}</a></mat-cell>
            </ng-container>

            <ng-container matColumnDef="rfqId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>RFQ Number</mat-header-cell>
                <mat-cell *matCellDef="let purchaseOrder"> {{purchaseOrder.rfqId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dateReceived">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date Received</mat-header-cell>
                <mat-cell
                    *matCellDef="let purchaseOrder"> {{purchaseOrder.dateReceived  | date:'MMM dd, yyyy'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="due">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date Due</mat-header-cell>
                <mat-cell *matCellDef="let purchaseOrder"> {{purchaseOrder.due  | date:'MMM dd, yyyy'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="itemCount">
                <mat-header-cell *matHeaderCellDef>Item Count</mat-header-cell>
                <mat-cell *matCellDef="let purchaseOrder"> {{purchaseOrder.items.length}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
                <mat-cell *matCellDef="let purchaseOrder"> {{purchaseOrder.status }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="editDelete">
                <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
                <mat-cell *matCellDef="let purchaseOrder">
                    <div class="truncate">
                        <button
                            (click)="updateItem(purchaseOrder.id)">
                            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>

                        </button>
                        <button class="ml-4"
                                (click)="deleteItem(purchaseOrder.id)">
                            <mat-icon [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                        </button>

                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
</div>
