<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
                <div
                    class="absolute inset-x-0 bottom-0"
                    *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Add Client</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="onCancle()">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-circle-left'"></mat-icon>
                <span class="ml-2 mr-1">Cancel</span>
            </button>
        </div>
    </div>

    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
        <div class="grid">
            <ng-container>
                <ng-container *ngTemplateOutlet="rowDetailsTemplate;"></ng-container>
            </ng-container>
        </div>
    </div>

    <ng-template
        #rowDetailsTemplate
        let-client>
        <div class="shadow-lg overflow-hidden">
            <div class="flex border-b">
                <!-- Selected product form -->
                <form
                    class="flex flex-col w-full"
                    [formGroup]="form">

                    <div class="flex flex-col sm:flex-row p-8">
                        <!-- Product images and status -->
                        <!--                    <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">-->
                        <!--                        <div class="flex flex-col items-center">-->
                        <!--                            <div class="w-32 h-44 border rounded overflow-hidden">-->
                        <!--                                <ng-container *ngIf="selectedProductForm.get('images').value.length; else noImage">-->
                        <!--                                    <img-->
                        <!--                                        class="w-full h-full object-cover"-->
                        <!--                                        [src]="selectedProductForm.get('images').value[selectedProductForm.get('currentImageIndex').value]">-->
                        <!--                                </ng-container>-->
                        <!--                                <ng-template #noImage>-->
                        <!--                                    <span class="flex items-center min-h-20 text-lg font-semibold">NO IMAGE</span>-->
                        <!--                                </ng-template>-->
                        <!--                            </div>-->
                        <!--                            <div-->
                        <!--                                class="flex items-center mt-2 whitespace-nowrap"-->
                        <!--                                *ngIf="selectedProductForm.get('images').value.length">-->
                        <!--                                <button-->
                        <!--                                    mat-icon-button-->
                        <!--                                    (click)="cycleImages(false)">-->
                        <!--                                    <mat-icon-->
                        <!--                                        class="icon-size-5"-->
                        <!--                                        [svgIcon]="'heroicons_solid:arrow-narrow-left'"></mat-icon>-->
                        <!--                                </button>-->
                        <!--                                <span class="font-sm mx-2">-->
                        <!--                                                {{selectedProductForm.get('currentImageIndex').value + 1}} of {{selectedProductForm.get('images').value.length}}-->
                        <!--                                            </span>-->
                        <!--                                <button-->
                        <!--                                    mat-icon-button-->
                        <!--                                    (click)="cycleImages(true)">-->
                        <!--                                    <mat-icon-->
                        <!--                                        class="icon-size-5"-->
                        <!--                                        [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>-->
                        <!--                                </button>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="flex flex-col mt-8">-->
                        <!--                            <span class="font-semibold mb-2">Client status</span>-->
                        <!--                            <mat-slide-toggle-->
                        <!--                                [formControlName]="'active'"-->
                        <!--                                [color]="'primary'">-->
                        <!--                                {{selectedProductForm.get('active').value === true ? 'Active' : 'Disabled'}}-->
                        <!--                            </mat-slide-toggle>-->
                        <!--                        </div>-->
                        <!--                    </div>-->

                        <div class="flex flex-auto flex-wrap">
                            <!-- Name, SKU & etc. -->
                            <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                <!-- Name -->
                                <mat-form-field class="w-full">
                                    <mat-label for="name">Name</mat-label>
                                    <input
                                        matInput
                                        name="name"
                                        type="text"
                                        formControlName="name">
                                    <small *ngIf="clientForm.name.invalid && isSubmitted" class=""
                                    >Name is required</small>
                                </mat-form-field>

                                <!-- SKU and Barcode -->
                                <mat-form-field class="w-full">
                                    <mat-label>Contact Information</mat-label>
                                    <input
                                        matInput
                                        id="">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>VAT Number</mat-label>
                                    <input
                                        matInput
                                        id="vatNumber"
                                        formControlName="vatNumber">
                                </mat-form-field>

<!--                                <app-contact-information></app-contact-information>-->

                                <mat-divider class="mt-6 mb-10"></mat-divider>
                                <p class="text-lg font-medium">Contact Information</p>
                                <p class="text-secondary mb-6">
                                    Client Contact Information
                                </p>
                                <div class="flex flex-col gt-xs:flex-row">
                                        <ng-container formGroupName="contactInformation">
                                        <div class="flex">
                                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                                <input
                                                    matInput
                                                    formControlName="work"
                                                    [placeholder]="'Work'">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    matPrefix
                                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                                <input
                                                    matInput
                                                    formControlName="cellphone"
                                                    [placeholder]="'Cellphone'">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    matPrefix
                                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                            </mat-form-field>
                                        </div>

                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="whatsapp"
                                                    [placeholder]="'Whatsapp'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="telephone"
                                                    [placeholder]="'Telephone'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="email"
                                                    [placeholder]="'Email'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>

                                        <ng-container formGroupName="address">
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="line1"
                                                    [placeholder]="'Address Line 1'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="line2"
                                                    [placeholder]="'Address Line 2'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="suburb"
                                                    [placeholder]="'Suburb'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="city"
                                                    [placeholder]="'City'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="postalCode"
                                                    [placeholder]="'Postal Code'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="country"
                                                    [placeholder]="'Country'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        <div class="flex">
                                            <mat-form-field class="flex-auto">
                                                <input
                                                    matInput
                                                    formControlName="province"
                                                    [placeholder]="'Province'">
                                                <span matPrefix>/</span>
                                            </mat-form-field>
                                        </div>
                                        </ng-container>
                                        </ng-container>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between w-full border-t px-8 py-4">
                        <div class="flex items-center">
                            <div
                                class="flex items-center mr-4"
                                *ngIf="addSuccess">
                                <ng-container *ngIf="addSuccess === true">
                                    <mat-icon
                                        class="text-green-500"
                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2">Client added</span>
                                </ng-container>
                                <ng-container *ngIf="addSuccess === false">
                                    <mat-icon
                                        class="text-red-500"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <div
                                class="flex items-center mr-4"
                                *ngIf="updateSuccess">
                                <ng-container *ngIf="updateSuccess === true">
                                    <mat-icon
                                        class="text-green-500"
                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2">Client updated</span>
                                </ng-container>
                                <ng-container *ngIf="updateSuccess === false">
                                    <mat-icon
                                        class="text-red-500"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <button
                                mat-flat-button
                                [color]="'primary'"
                                (click)="onSubmit()">
                                Submit
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </ng-template>

</div>
