<!--<mat-spinner class="flex flex-col items-center justify-center" *ngIf="itemLoading"></mat-spinner>-->
<div class="shadow-lg overflow-hidden">
    <div class="flex border-b">
        <!-- Selected product form -->
        <form
            class="flex flex-col w-full"
            [formGroup]="rfqItemForm">
            <div class="flex flex-col sm:flex-row p-8">

                <div class="flex flex-auto flex-wrap">
                    <!-- Name, SKU & etc. -->
                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                        <p class="text-lg font-medium" mat-dialog-title>Add item</p>
                        <p class="text-secondary mb-6">
                            Adding item to RFQ
                        </p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <div class="flex">
                                <mat-form-field class="flex-auto gt-xs:pr-3">
                                    <mat-label>Item</mat-label>
                                    <input type="text"
                                           placeholder="Search Items"
                                           aria-label="Number"
                                           matInput
                                           class=""
                                           [formControlName]="'itemId'"
                                           (input)="onSearchChange($event.target.value)"
                                           autoActiveFirstOption
                                           [matAutocomplete]="auto">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                                      (optionSelected)="getSelectedItem($event)"
                                                      [displayWith]="displayItem.bind(this)">
                                        <mat-option *ngFor="let item of filteredItems; let i = index" [value]="item.id">
                                            {{item.name}} <span *ngIf="item.sku"> | {{item.sku}}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <ng-container *ngIf="this.selectedItem && this.selectedItem.itemSuppliers && this.selectedItem.itemSuppliers.length > 0">
                                <div class="mb-4">
                                    <div class="flex" *ngFor="let x of this.selectedItem.itemSuppliers">
                                        <div>
                                            <p> <span>{{x.supplier.name}}: </span>
                                                <span>{{x.price | currency:'R'}} </span>
                                                <span>({{x.priceDate | date:'MMM dd, yyyy'}}) </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="flex">
                                <mat-form-field class="flex-auto gt-xs:pr-3">
                                    <mat-label>Supplier</mat-label>
                                    <mat-select
                                        name="rfqItem" formControlName="supplierId">

                                        <mat-option *ngFor="let supplier of suppliers"
                                                    [value]="supplier.id">{{supplier.name}}</mat-option>
                                    </mat-select>
                                    <mat-icon
                                        class="icon-size-5"
                                        matPrefix
                                        [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-textarea">
                                    <mat-label>Quantity</mat-label>
                                    <input
                                        matInput
                                        type="number"
                                        formControlName="quantity"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-textarea">
                                    <mat-label>Price</mat-label>
                                    <input
                                        matInput
                                        type="number"
                                        formControlName="priceQuoted"/>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field
                                    [ngClass]="formFieldHelpers"
                                    class="flex-auto">
                                    <mat-label>Expected Arrival Date</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'expectedArrivalDate'"
                                        [placeholder]="'Expected Arrival Date'"
                                        [matDatepicker]="picker1">
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto gt-xs:pr-3">
                                    <mat-label>RFQ Status</mat-label>
                                    <mat-select
                                        name="status"
                                        formControlName="itemStatus"
                                        [placeholder]="'Status'">
                                        <mat-option *ngFor="let status of keys(rfqItemStatus)"
                                                    [value]="rfqItemStatus[status]">{{rfqItemStatus[status]}}</mat-option>
                                    </mat-select>
                                    <mat-icon
                                        class="icon-size-5"
                                        matPrefix
                                        [svgIcon]="'heroicons_solid:document'"></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                <div class="flex items-center">
                    <div
                        class="flex items-center mr-4"
                        *ngIf="addSuccess">
                        <ng-container *ngIf="addSuccess === true">
                            <mat-icon
                                class="text-green-500"
                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2">Item added</span>
                        </ng-container>
                        <ng-container *ngIf="addSuccess === false">
                            <mat-icon
                                class="text-red-500"
                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                            <span class="ml-2">An error occurred, try again!</span>
                        </ng-container>
                    </div>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        (click)="onSubmit()">
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
