<div class="shadow-lg overflow-hidden">
    <div class="flex border-b">
        <!-- Selected product form -->
        <form
            class="flex flex-col w-full"
            [formGroup]="poItemForm">
            <div class="flex flex-col sm:flex-row p-8">

                <div class="flex flex-auto flex-wrap">
                    <!-- Name, SKU & etc. -->
                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                        <p class="text-lg font-medium" mat-dialog-title>Edit item</p>
                        <p class="text-secondary mb-6">
                            Edit Purchase Order item
                        </p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <div class="flex">
                                <mat-form-field class="flex-auto gt-xs:pr-3">
                                    <mat-label>Item</mat-label>
                                    <input type="text"
                                           placeholder="Search Items"
                                           aria-label="Number"
                                           matInput
                                           class=""
                                           [formControlName]="'itemId'"
                                           [matAutocomplete]="auto">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                                      (optionSelected)="selectedItem($event)"
                                                      [displayWith]="displayItem.bind(this)">
                                        <mat-option *ngFor="let item of filteredItems | async; let i = index"
                                                    [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col gt-xs:flex-row">
                                <div class="flex">
                                    <mat-form-field class="flex-auto gt-xs:pr-3">
                                        <mat-label>SupplierId</mat-label>
                                        <mat-select
                                            name="supplierId" formControlName="supplierId">
                                            <mat-option *ngFor="let supplier of suppliers"
                                                        [value]="supplier.id">{{supplier.name}}</mat-option>
                                        </mat-select>
                                        <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                            [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="flex">
                                    <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-textarea">
                                        <mat-label>Quantity</mat-label>
                                        <input
                                            matInput
                                            formControlName="quantity"
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-textarea">
                                        <mat-label>Price</mat-label>
                                        <input
                                            matInput
                                            formControlName="priceQuoted"/>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto gt-xs:pr-3">
                                        <mat-label>Expected Arrival Date</mat-label>
                                        <input
                                            matInput
                                            formControlName="expectedArrivalDate"/>
                                    </mat-form-field>
                                </div>
                                <div class="flex">
                                    <mat-form-field class="flex-auto gt-xs:pr-3">
                                        <mat-label>Status</mat-label>
                                        <mat-select
                                            name="status"
                                            [formControlName]="'status'"
                                            [placeholder]="'Status'">
                                            <mat-option *ngFor="let status of keys(poItemStatus)" [value]="status">{{poItemStatus[status]}}</mat-option>
                                        </mat-select>
                                        <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                            [svgIcon]="'heroicons_solid:document'"></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                <div class="flex items-center">
                    <div
                        class="flex items-center mr-4"
                        *ngIf="addSuccess">
                        <ng-container *ngIf="addSuccess === true">
                            <mat-icon
                                class="text-green-500"
                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2">Item added</span>
                        </ng-container>
                        <ng-container *ngIf="addSuccess === false">
                            <mat-icon
                                class="text-red-500"
                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                            <span class="ml-2">An error occurred, try again!</span>
                        </ng-container>
                    </div>
                    <button
                        mat-flat-button
                        [color]="'primary'"
                        (click)="onSubmit()">
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
