<mat-divider class="mt-6 mb-10"></mat-divider>
<p class="text-lg font-medium">Contact Information</p>
<p class="text-secondary mb-6">
    Client Contact Information
</p>
<div class="flex flex-col gt-xs:flex-row">
    <mat-form-field class="flex-auto gt-xs:pr-3">
        <input
            matInput
            [placeholder]="'Work'">
        <mat-icon
            class="icon-size-5"
            matPrefix
            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
    </mat-form-field>
    <mat-form-field class="flex-auto gt-xs:pl-3">
        <input
            matInput
            [placeholder]="'Work'">
        <mat-icon
            class="icon-size-5"
            matPrefix
            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Whatsapp'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Whatsapp'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Telephone'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Email'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Address Line 1'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Address Line 2'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Suburb'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'City'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Postal Code'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Country'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
<div class="flex">
    <mat-form-field class="flex-auto">
        <input
            matInput
            [placeholder]="'Province'">
        <span matPrefix>/</span>
    </mat-form-field>
</div>
