<div class="flex flex-col flex-auto w-full">

    <div
        class="absolute inset-x-0 bottom-0"
        *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8"  *ngIf="!isLoading">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Clients Details</h2>
                <div class="font-medium tracking-tight text-secondary">Keep track of a Client</div>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-8">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <!-- Previous statement -->
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon
                            class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                            [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-tight leading-6 truncate">Client
                                Name: {{clients.name}} </div>
                            <div class="text-green-600 font-medium text-lg">
                                {{clients.contactInformation.address.line1}} {{clients.contactInformation.address.line2}}
                            </div>
                            <div class="text-green-600 font-medium text-lg">
                                {{clients.contactInformation.address.suburb}}
                            </div>
                            <div class="text-green-600 font-medium text-lg">
                                {{clients.contactInformation.address.postalCode}}
                            </div>
                            <div class="text-green-600 font-medium text-lg">
                                {{clients.contactInformation.address.province}}
                            </div>
                        </div>

                    </div>
                    <div class="flex flex-row flex-wrap mt-4 -mx-6">
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Email</div>
                            <div
                                class="mt-2 font-medium text-xl leading-none">{{clients.contactInformation.email}}</div>
                        </div>
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Cellphone</div>
                            <div
                                class="mt-2 font-medium text-xl leading-none">{{clients.contactInformation.cellphone}}</div>
                        </div>
                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Work</div>
                            <div class="mt-2 font-medium text-xl leading-none">{{clients.contactInformation.work}}</div>
                        </div>

                        <div class="flex flex-col mx-6 my-3">
                            <div class="text-sm font-medium leading-none text-secondary">Whatsapp</div>
                            <div
                                class="mt-2 font-medium text-xl leading-none">{{clients.contactInformation.whatsapp}}</div>
                        </div>
                        <!--                        <div class="flex flex-col mx-6 my-3">-->
                        <!--                            <div class="text-sm font-medium leading-none text-secondary">Minimum</div>-->
                        <!--                            <div class="mt-2 font-medium text-3xl leading-none">{{ | currency:'USD'}}</div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
