<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Purchase Order</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="onCancle()">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-circle-left'"></mat-icon>
                <span class="ml-2 mr-1">Cancel</span>
            </button>
        </div>
    </div>

    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
        <div class="grid">
            <ng-container>
                <ng-container *ngTemplateOutlet="rowDetailsTemplate;"></ng-container>
            </ng-container>
        </div>
    </div>

    <ng-template
        #rowDetailsTemplate
        let-client>
        <div class="shadow-lg overflow-hidden">
            <div class="flex border-b">
                <!-- Selected product form -->
                <form
                    class="flex flex-col w-full"
                    [formGroup]="form">
                    <div class="flex flex-col sm:flex-row p-8">

                        <div class="flex flex-auto flex-wrap">
                            <!-- Name, SKU & etc. -->
                            <div class="flex flex-col w-full lg:w-2/3 sm:pl-8">
                                <p class="text-lg font-medium">Add Purchase Order</p>
                                <p class="text-secondary mb-6">
                                    Purchase Order
                                </p>
                                <div class="flex flex-col gt-xs:flex-row">
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>Purchase Order Number</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'poNumber'">
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:user'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-textarea">
                                            <mat-label>Description</mat-label>
                                            <textarea
                                                matInput
                                                formControlName="description"
                                                [rows]="4"></textarea>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field
                                            [ngClass]="formFieldHelpers"
                                            class="flex-auto">
                                            <mat-label>Received Due</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'dateReceived'"
                                                [placeholder]="'Date Purchase Order Received'"
                                                [matDatepicker]="picker1">
                                            <mat-datepicker-toggle
                                                matSuffix
                                                [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field
                                            [ngClass]="formFieldHelpers"
                                            class="flex-auto">
                                            <mat-label>Due Date</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'due'"
                                                [placeholder]="'Due Date'"
                                                [matDatepicker]="picker2">
                                            <mat-datepicker-toggle
                                                matSuffix
                                                [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>Buyer</mat-label>
                                            <mat-select
                                                name="buyer" formControlName="buyer">
                                                <mat-option *ngFor="let buyer of buyers"
                                                            [value]="buyer.id">{{buyer.name}}</mat-option>
                                            </mat-select>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>Client</mat-label>
                                            <!--                                            <input matInput formControlName="category">-->
                                            <mat-select
                                                name="client" formControlName="client">
                                                <mat-option *ngFor="let client of clients"
                                                            [value]="client.id">{{client.name}}</mat-option>
                                            </mat-select>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>RFQ</mat-label>
                                            <mat-select
                                                name="rfq" formControlName="rfq">
                                                <mat-option *ngFor="let rfq of rfqs"
                                                            [value]="rfq.id">{{rfq.rfqNumber}}</mat-option>
                                            </mat-select>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>Status</mat-label>
                                            <mat-select
                                                name="status" formControlName="status">
                                                <mat-option *ngFor="let status of keys(poStatus)" [value]="poStatus[status]">{{poStatus[status]}}</mat-option>
                                            </mat-select>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <mat-label>Purchase Order Document</mat-label>

                                    <input formControlName="purchaseOrderDocumentUrl" type="file" (change)="uploadPODocument($event)">
                                    <br>
                                    <div class="flex">
                                        <mat-divider class="flex-auto gt-xs:pr-3"></mat-divider>
                                    </div>
                                    <br>
                                    <div class="flex">
                                        <p class="flex-auto gt-xs:pr-3 text-lg font-medium">Add items to purchase order</p>
                                    </div>
                                        <div class="flex">
                                            <p class="flex-auto gt-xs:pr-3 text-secondary">
                                                Purchase order items
                                            </p>
                                        </div>
                                    <br>
                                    <div class="flex">
                                        <button mat-stroked-button class="flex-auto gt-xs:pr-3" (click)="openDialog()">Attach items to Purchase Order
                                        </button>
                                    </div>
                                    <br>
                                    <div class="flex">
                                        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 flex-auto gt-xs:pr-3">
                                            <ng-container matColumnDef="id">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
                                                <mat-cell
                                                    *matCellDef="let purchaseOrderItems"> {{purchaseOrderItems.itemId}} </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="name">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                                                <mat-cell
                                                    *matCellDef="let purchaseOrderItems"> {{purchaseOrderItems.name}} </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="supplier">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Supplier</mat-header-cell>
                                                <mat-cell
                                                    *matCellDef="let purchaseOrderItems"> {{purchaseOrderItems.supplierName}} </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="quantity">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity</mat-header-cell>
                                                <mat-cell
                                                    *matCellDef="let purchaseOrderItems"> {{purchaseOrderItems.quantity}} </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="status">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
                                                <mat-cell
                                                    *matCellDef="let purchaseOrderItems"> {{purchaseOrderItems.status}} </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="price">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Price</mat-header-cell>
                                                <mat-cell
                                                    *matCellDef="let purchaseOrderItems"> {{purchaseOrderItems.priceQuoted | currency: 'R'}} </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="expectedArrivalDate">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>Expected Arrival Date</mat-header-cell>
                                                <mat-cell
                                                    *matCellDef="let purchaseOrderItems"> {{purchaseOrderItems.expectedArrivalDate | date}} </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
                                                <mat-cell *matCellDef="let purchaseOrderItems; let i = index">
                                                    <div class="truncate">
                                                        <button
                                                            (click)="updatePurchaseOrderItem(i, purchaseOrderItems.itemId, purchaseOrderItems.supplierId, purchaseOrderItems.quantity, purchaseOrderItems.priceQuoted, purchaseOrderItems.expectedArrivalDate, purchaseOrderItems.status)">
                                                            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>

                                                        </button>
                                                        <button
                                                            class="ml-4"
                                                            (click)="removePurchaseOrderItem(purchaseOrderItems.id, purchaseOrderItems.poItemId)">
                                                            <mat-icon [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                                                        </button>
                                                    </div>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                        </mat-table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between w-full border-t px-8 py-4">
                        <div class="flex items-center">
                            <div
                                class="flex items-center mr-4"
                                *ngIf="addSuccess">
                                <ng-container *ngIf="addSuccess === true">
                                    <mat-icon
                                        class="text-green-500"
                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2">Purchase Order added</span>
                                </ng-container>
                                <ng-container *ngIf="addSuccess === false">
                                    <mat-icon
                                        class="text-red-500"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <div
                                class="flex items-center mr-4"
                                *ngIf="updateSuccess">
                                <ng-container *ngIf="updateSuccess === true">
                                    <mat-icon
                                        class="text-green-500"
                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2">Purchase Order updated</span>
                                </ng-container>
                                <ng-container *ngIf="updateSuccess === false">
                                    <mat-icon
                                        class="text-red-500"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <button
                                type="button"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="onSubmit()">
                                Submit
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </ng-template>
</div>
