<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Add Item</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="onCancle()">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-circle-left'"></mat-icon>
                <span class="ml-2 mr-1">Cancel</span>
            </button>
        </div>
    </div>

    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
        <div class="grid">
            <ng-container>
                <ng-container *ngTemplateOutlet="rowDetailsTemplate;"></ng-container>
            </ng-container>
        </div>
    </div>

    <ng-template
        #rowDetailsTemplate
        let-client>
        <div class="shadow-lg overflow-hidden">
            <div class="flex border-b">
                <!-- Selected product form -->
                <form
                    class="flex flex-col w-full"
                    [formGroup]="form">
                    <div class="flex flex-col sm:flex-row p-8">

                        <div class="flex flex-auto flex-wrap">
                            <!-- Name, SKU & etc. -->
                            <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                <p class="text-lg font-medium">Add item</p>
                                <p class="text-secondary mb-6">
                                    Item stock
                                </p>
                                <div class="flex flex-col gt-xs:flex-row">
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>Name</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'name'">
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:user'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-textarea">
                                            <mat-label>Short Description</mat-label>
                                            <textarea
                                                matInput
                                                formControlName="shortDescription"
                                                [rows]="3"></textarea>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3 fuse-mat-textarea">
                                            <mat-label>Description</mat-label>
                                            <textarea
                                                matInput
                                                formControlName="description"
                                                rows="4"></textarea>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:clipboard-list'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>SKU</mat-label>
                                            <input
                                                matInput
                                                formControlName="sku">
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:document-search'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>RRSP</mat-label>
                                            <input
                                                matInput
                                                formControlName="rrsp"
                                                type="number">
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>Thumbnail</mat-label>
                                            <input
                                                matInput
                                                formControlName="thumbnail">
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:photograph'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>Category</mat-label>
<!--                                            <input matInput formControlName="category">-->
                                            <mat-select
                                                name="category" formControlName="category">
                                                <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                                            </mat-select>
<!--                                            <input-->
<!--                                                matInput-->
<!--                                                formControlName="category"-->
<!--                                                type="number">-->
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-label>Brand</mat-label>
                                            <input
                                                matInput
                                                formControlName="brand"
                                                type="number">
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between w-full border-t px-8 py-4">
                        <div class="flex items-center">
                            <div
                                class="flex items-center mr-4"
                                *ngIf="addSuccess">
                                <ng-container *ngIf="addSuccess === true">
                                    <mat-icon
                                        class="text-green-500"
                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2">Client added</span>
                                </ng-container>
                                <ng-container *ngIf="addSuccess === false">
                                    <mat-icon
                                        class="text-red-500"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <div
                                class="flex items-center mr-4"
                                *ngIf="updateSuccess">
                                <ng-container *ngIf="updateSuccess === true">
                                    <mat-icon
                                        class="text-green-500"
                                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2">Client updated</span>
                                </ng-container>
                                <ng-container *ngIf="updateSuccess === false">
                                    <mat-icon
                                        class="text-red-500"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <button
                                mat-flat-button
                                [color]="'primary'"
                                (click)="onSubmit()">
                                Submit
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </ng-template>
</div>
